.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env

# Generated datasets
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/mandi_coordinates.csv
!data/external/.gitkeep
